:root {
  --footer-height: 7em;
  --light-mode-background-colour: #efebe9;
  --light-mode-text-colour: #000;
  --light-mode-primary-accent-colour: #d50000;
  --light-mode-secondary-accent-colour: #ff8a80;
  --dark-mode-background-colour: #263238;
  --dark-mode-text-colour: #fff;
  --dark-mode-primary-accent-colour: #ffd600;
  --dark-mode-secondary-accent-colour: #455a64;
  --line-height: 1.5rem;
}