:root {
  --footer-height: 7em;
  --light-mode-background-colour: #eceff1;
  --light-mode-text-colour: #000;
  --light-mode-primary-accent-colour: #304ffe;
  --dark-mode-background-colour: #263238;
  --dark-mode-text-colour: #fff;
  --dark-mode-primary-accent-colour: #ffd600;
  --line-height: 1.35rem;
}