footer {
  position: absolute;
  bottom: 0;
  height: var(--footer-height);
  width: 100%;
}

.footer__container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.footer__icon {
  font-size: 2em;
  color: var(--text-colour);
}

.footer__icon:hover, .footer__icon:focus {
  color: var(--primary-accent-colour);
  background-color: var(--background-colour);
}
