header {
  min-height: 20vh;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.header__text {
  color: var(--dark-mode-primary-accent-colour);
}

.light-theme {
  .header__text {
    color: var(--light-mode-primary-accent-colour);
  }
}