html {
  height: 100%;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1rem;
  color: var(--dark-mode-text-colour);
  background-color: var(--dark-mode-background-colour);
  height: 100%;
  margin: 0;
  line-height: var(--line-height);
}

a {
  color: var(--dark-mode-primary-accent-colour);
  font-style: normal;
  text-decoration: underline dashed;
  &:hover, &:focus {
    background-color: var(--dark-mode-primary-accent-colour);
    color: var(--dark-mode-background-colour);
    text-decoration: none;
  }
}

main {
  padding-bottom: var(--footer-height);
}

.container {
  position: relative;
  min-height: 100vh;
  transition: all 0.1s linear;
}

.content-box {
  max-width: 70ch;
  padding: 2ch;
  margin: auto;
}

.highlight {
  font-weight: 700;
  color: var(--dark-mode-primary-accent-colour);
}

.light-theme {
  color: var(--light-mode-text-colour);
  background-color: var(--light-mode-background-colour);
  a {
    color: var(--light-mode-primary-accent-colour);
    &:hover, &:focus {
      background-color: var(--light-mode-primary-accent-colour);
      color: var(--light-mode-background-colour);
    }
  }
  .highlight {
    color: var(--light-mode-primary-accent-colour)
  }
}