.main-nav {
  position: sticky;
  background-color: var(--dark-mode-secondary-accent-colour);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
  &--items {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
  }
  &--item {
    display: inline-block;
    border: none;
    background-color: transparent;
    color: var(--dark-mode-text-colour);
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
    &:hover, &:focus, &__active {
      background-color: transparent;
      color: var(--dark-mode-primary-accent-colour);
    }
  }
}

.light-theme {
  .main-nav {
    background-color: var(--light-mode-text-colour);
    &--item {
      color: var(--dark-mode-text-colour);
      &:hover, &:focus, &__active {
        background-color: transparent;
        color: var(--light-mode-primary-accent-colour);
      }
    }
  }
}