:root {
  --footer-height: 5em;
  --background-colour: #fafafa;
  --text-colour: #212121;
  --primary-accent-colour: #00b8d4;
  --secondary-accent-colour: #ffc107;
  --dark-mode-background-colour: #212121;
  --dark-mode-text-colour: #fafafa;
}

html {
  height: 100%;
}

body {
  color: var(--text-colour);
  background-color: var(--background-colour);
  height: 100%;
  margin: 0;
}

.container {
  position: relative;
  min-height: 100%;
}

main, .footer__container {
  max-width: 70ch;
  padding: 2ch;
  margin: auto;
}

main {
  padding-bottom: var(--footer-height);
}

a {
  color: var(--primary-accent-colour);
  font-style: normal;
  text-decoration: underline dashed;
}

a:hover, a:focus {
  background-color: var(--primary-accent-colour);
  color: var(--background-colour);
  text-decoration: none;
}

.footer {
  position: absolute;
  bottom: 0;
  height: var(--footer-height);
  width: 100%;
}

.footer__container {
  display: flex;
  justify-content: space-around;
}

.footer__icon {
  font-size: 2em;
  background-color: var(--primary-accent-colour);
}

.footer__icon:hover, .footer__icon:focus {
  color: var(--secondary-accent-colour);
  background-color: #fafafa;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--dark-mode-background-colour);
    color: var(--dark-mode-text-colour);
  }

  a {
    color: var(--secondary-accent-colour);
  }
  
  a:hover, a:focus {
    background-color: var(--secondary-accent-colour);
    color: var(--dark-mode-background-colour);
  }
}
