:root {
  --footer-height: 7em;
  --background-colour: #eceff1;
  --text-colour: #000;
  --primary-accent-colour: #304ffe;
  --line-height: 1.25rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-colour: #263238;
    --text-colour: #fff;
    --primary-accent-colour: #ffd600;
    --line-height: 1.35rem;
  }
}

html {
  height: 100%;
}

body {
  color: var(--text-colour);
  background-color: var(--background-colour);
  height: 100%;
  margin: 0;
  line-height: var(--line-height);
}

main {
  padding-bottom: var(--footer-height);
}

a {
  color: var(--primary-accent-colour);
  font-style: normal;
  text-decoration: underline dashed;
}

a:hover, a:focus {
  background-color: var(--primary-accent-colour);
  color: var(--background-colour);
  text-decoration: none;
}

b {
  color: var(--primary-accent-colour);
}

header {
  min-height: 20vh;
  display: flex;
  align-items: flex-end;
}

footer {
  position: absolute;
  bottom: 0;
  height: var(--footer-height);
  width: 100%;
}

.container {
  position: relative;
  min-height: 100%;
}

.content-box {
  max-width: 70ch;
  padding: 2ch;
  margin: auto;
}

.header__text {
  color: var(--primary-accent-colour);
}

.footer__container {
  display: flex;
  justify-content: space-around;
}

.footer__icon {
  font-size: 2em;
  color: var(--text-colour);
}

.footer__icon:hover, .footer__icon:focus {
  color: var(--primary-accent-colour);
  background-color: var(--background-colour);
}
