body {
  color: #212121;
  background-color: #fafafa;
}

main, .footer {
  max-width: 70ch;
  padding: 2ch;
  margin: auto;
}

a {
  color: #00b8d4;
  font-style: normal;
  text-decoration: underline dashed;
}

a:hover, a:focus {
  background-color: #00b8d4;
  color: #fafafa;
  text-decoration: none;
}

.footer {
  display: flex;
  justify-content: space-around;
}

.footer__icon {
  font-size: 2em;
  background-color: #00b8d4;
}

.footer__icon:hover, .footer__icon:focus {
  color: #ffc107;
  background-color: #fafafa;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #212121;
    color: #fafafa;
  }

  a {
    color: #ffc107;
  }
  
  a:hover, a:focus {
    background-color: #ffc107;
    color: #212121;
  }
}
